services:
  namenode:
    image: ghcr.io/apache/hadoop:3.4.2-lean
    hostname: namenode
    command: ["hdfs", "namenode"]
    ports:
      - 9870:9870
    env_file:
      - ./config
    environment:
      ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
  datanode:
    image: ghcr.io/apache/hadoop:3.4.2-lean
    command: ["hdfs", "datanode"]
    ports:
      - 9864:9864
    env_file:
      - ./config
  resourcemanager:
    image: ghcr.io/apache/hadoop:3.4.2-lean
    hostname: resourcemanager
    command: ["yarn", "resourcemanager"]
    ports:
      - 8088:8088
    env_file:
      - ./config
    volumes:
      - ./test.sh:/opt/test.sh
  nodemanager:
    image: ghcr.io/apache/hadoop:3.4.2-lean
    command: ["yarn", "nodemanager"]
    env_file:
      - ./config
